<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WAR_JEE_W_03_OOP/a_Zadania/a_Dzien_1/b_Atrybuty/Main3.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="a_Zadania.a_Dzien_1.b_Atrybuty.Main3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WAR_JEE_W_03_OOP"/>
</launchConfiguration>
