<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/WAR_JEE_S_04_Podstawy/a_Zadania/d_Dzien_4/b_Pliki/Main4.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="a_Zadania.d_Dzien_4.b_Pliki.Main4"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="WAR_JEE_S_04_Podstawy"/>
</launchConfiguration>
